a {
	text-decoration: none;
	color: white;
	text-shadow: 2px 2px 4px transparent;
}
body {
	margin: 0;
	font-family: "Source Sans Pro", Helvetica, sans-serif;
	background-color: #050505;
	padding: 0;
	height: 100%;
	width: 100%;
	background-image: url("../img/bg.png");
  background-size: cover;
  background-position: bottom;
}
button {
	font-family: "Source Sans Pro", Helvetica, sans-serif;
}
hr {
	margin: 0.5% 44% 0% 44%;
	border-top: 1px solid #fff;
}
html {
	height: 100%;
}
img {
	margin: 0 auto;
	display: block;
}
p {
	font-family: 'Roboto Mono', monospace;
	font-size: 1em;
	color: white;
	text-align: center;
  margin: 0;
  text-transform: uppercase;
}
ul {
	padding: 0;
}
@font-face {
  font-family: cyber;
  src: url("../font.ttf");
}

/* Classes */
.container {
  height: 100%;
}
/* Boxes */
.profile {
	display: block;
	margin: 0 auto;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	text-align: center;
  font-size: 0;
}
.avatar-box {
	display: inline-block;
	margin: 0;
	height: 260px;
  width: 260px;
  background-color: #202020;
  background-image: url(../img/avi.jpg);
  background-size: cover;
  background-position: center;
  vertical-align: top;
}
.content-box {
	display: inline-block;
	margin: 0;
	height: 260px;
	width: 470px;
	background-color: #151515;
	text-align: left;
  font-size: 1.2em;
  vertical-align: top;
}
.text-box {
  font-size: 12px;
  padding: 20px 20px;
}
.extended-box {
  display: none;
	margin: 0 auto;
	height: 260px;
	width: 730px;
	background-color: #202020;
  text-align: left;
}
.links-box {
	display: inline-block;
	margin: 0;
	height: 30px;
	width: 730px;
	background-color: #101010;
  text-align: left;
  vertical-align: top;
}

/* BIO CSS */
#name {
  font-size: 32px;
  font-family: cyber;
  text-transform: uppercase;
  color: white;
  margin: 0;
}
#line {
  margin: 1% 70% 3% 0;
  border-top: 2px solid #fff;
}
.bio {
  font-size: 15px;
  text-align: left;
  text-transform: uppercase;
  margin-bottom: -3px;
  text-shadow: none;
  text-transform: none;
}
#credit {
  color: red;
  font-size: 16px;
  text-align: left;
  font-family: cyber;
  cursor: pointer;
}
#expand {
  color: cyan;
  font-size: 16px;
  text-align: left;
  font-family: cyber;
  cursor: pointer;
}
#mute {
  color: green;
  font-size: 16px;
  text-align: left;
  cursor: pointer;
  font-family: cyber;
}

/* Extended Box CSS */
#projects-title {
  font-size: 18px;
  padding-top: 10px;
  font-family: cyber;
}
#projects-container {
  text-align: center;
  padding: 10px;
}
.projects-box {
  display: inline-block;
  width: 100px;
  height: 60px;
  background-color: #000;
  margin: 0 5px;
  background-size: cover;
  background-position: center;
  border-radius: 5px;
  vertical-align: top;
}
.projects-text {
  font-size: 11px;
  text-shadow: 1px 1px #000;
  vertical-align: middle;
  line-height: 60px;
}
.extended-container {
  padding: 5px;
  text-align: center;
}
.side-box {
  display: inline-block;
  vertical-align: top;
  margin: 15px 70px 0 70px;
}
.side {
  display: inline-block;
  vertical-align: top;
  margin: 0 3px;
}
.extended-text-title {
  font-size: 18px;
  text-align: center;
  font-family: cyber;
}
.extended-line {
  margin: 0.5% 10% 2% 10%;
}
.extended-text {
  font-size: 12px;
  text-align: left;
  text-shadow: none;
}
.extended-text-right {
  font-size: 12px;
  text-align: right;
  text-shadow: none;
}
.extended-text-center {
  font-size: 12px;
  text-align: center;
  text-shadow: none;
}

/* Links CSS */
#links {
  text-shadow: none;
  font-size: 14px;
  vertical-align: middle;
  line-height: 30px;
}
.links-hightlight:hover {
  color: #8e8e8e;
}

/* Span Colours */
.good {
  color: #00ff00;
}
.warning {
  color: #ffff00;
}
.ohno {
  color: #FFA500
}
.shitemate {
  color: #ff0000
}

/* Misc */
.text-left {
  text-align: left;
}
.empty {
  color: transparent;
}
#recommend {
  cursor: pointer;
}
#progress-bar[value] {
  -webkit-appearance: none;
   appearance: none;

  width: 200px;
  height: 4px;
  background-color: #202020;
  border: 0;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
}
#osu {
  margin: 0 auto;
  margin-top: 10px;
  display: block;
  width: 30%;
}
#wp {
  cursor: pointer;
}

/* Modal */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}
.pop-content {
  background-color: #101010;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  border-radius: 20px;
  width: 40%;
}

/* Animations */
.grow {
	transition: all .2s ease-in-out;
}
.grow:hover {
	transform: scale(1.05);
}
.line-grow {
  animation: linegrow 2s;
}
@keyframes linegrow {
  from { margin: 1% 0 3% 0; }
  to { margin: 1% 70% 3% 0; }
}
.fade {
  animation: fade-in 0.4s;
}
@keyframes fade-in {
  from { opacity: 0; }
  to { opacity: 1; }
}
.chacha {
  animation: slide 1.8s;
}
@keyframes slide {
  from { margin-right: 500px; }
  to { margin-right: 0; }
}
.heavy {
  animation: meme 1.8s;
}
@keyframes meme {
  from { width: 470px; }
  to { width: 730px; }
}
.heavyavi {
  animation: memeavi 1.8s;
}
@keyframes memeavi {
  from { width: 0; }
  to { width: 260px; }
}
@keyframes bounce {
  0% { margin-top: 0; }
  100% { margin-top: 10px; }
}

/* Loader */
.no-js #loader {
	display: none;
}
.js #loader {
	display: block;
	position: absolute;
	left: 100px;
	top: 0;
}
.se-pre-con {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: url(../loader.gif) center no-repeat #fff;
	background-color: #020202;
}

/* CRT Effect */
@keyframes flicker {
    0% {
      opacity: 0.27861;
    }
    5% {
      opacity: 0.34769;
    }
    10% {
      opacity: 0.23604;
    }
    15% {
      opacity: 0.90626;
    }
    20% {
      opacity: 0.18128;
    }
    25% {
      opacity: 0.83891;
    }
    30% {
      opacity: 0.65583;
    }
    35% {
      opacity: 0.67807;
    }
    40% {
      opacity: 0.26559;
    }
    45% {
      opacity: 0.84693;
    }
    50% {
      opacity: 0.96019;
    }
    55% {
      opacity: 0.08594;
    }
    60% {
      opacity: 0.20313;
    }
    65% {
      opacity: 0.71988;
    }
    70% {
      opacity: 0.53455;
    }
    75% {
      opacity: 0.37288;
    }
    80% {
      opacity: 0.71428;
    }
    85% {
      opacity: 0.70419;
    }
    90% {
      opacity: 0.7003;
    }
    95% {
      opacity: 0.36108;
    }
    100% {
      opacity: 0.24387;
    }
  }
  @keyframes textShadow {
    0% {
      text-shadow: 0.4389924193300864px 0 1px rgba(0,30,255,0.5), -0.4389924193300864px 0 1px rgba(255,0,80,0.3), 0 0 3px;
    }
    5% {
      text-shadow: 2.7928974010788217px 0 1px rgba(0,30,255,0.5), -2.7928974010788217px 0 1px rgba(255,0,80,0.3), 0 0 3px;
    }
    10% {
      text-shadow: 0.02956275843481219px 0 1px rgba(0,30,255,0.5), -0.02956275843481219px 0 1px rgba(255,0,80,0.3), 0 0 3px;
    }
    15% {
      text-shadow: 0.40218538552878136px 0 1px rgba(0,30,255,0.5), -0.40218538552878136px 0 1px rgba(255,0,80,0.3), 0 0 3px;
    }
    20% {
      text-shadow: 3.4794037899852017px 0 1px rgba(0,30,255,0.5), -3.4794037899852017px 0 1px rgba(255,0,80,0.3), 0 0 3px;
    }
    25% {
      text-shadow: 1.6125630401149584px 0 1px rgba(0,30,255,0.5), -1.6125630401149584px 0 1px rgba(255,0,80,0.3), 0 0 3px;
    }
    30% {
      text-shadow: 0.7015590085143956px 0 1px rgba(0,30,255,0.5), -0.7015590085143956px 0 1px rgba(255,0,80,0.3), 0 0 3px;
    }
    35% {
      text-shadow: 3.896914047650351px 0 1px rgba(0,30,255,0.5), -3.896914047650351px 0 1px rgba(255,0,80,0.3), 0 0 3px;
    }
    40% {
      text-shadow: 3.870905614848819px 0 1px rgba(0,30,255,0.5), -3.870905614848819px 0 1px rgba(255,0,80,0.3), 0 0 3px;
    }
    45% {
      text-shadow: 2.231056963361899px 0 1px rgba(0,30,255,0.5), -2.231056963361899px 0 1px rgba(255,0,80,0.3), 0 0 3px;
    }
    50% {
      text-shadow: 0.08084290417898504px 0 1px rgba(0,30,255,0.5), -0.08084290417898504px 0 1px rgba(255,0,80,0.3), 0 0 3px;
    }
    55% {
      text-shadow: 2.3758461067427543px 0 1px rgba(0,30,255,0.5), -2.3758461067427543px 0 1px rgba(255,0,80,0.3), 0 0 3px;
    }
    60% {
      text-shadow: 2.202193051050636px 0 1px rgba(0,30,255,0.5), -2.202193051050636px 0 1px rgba(255,0,80,0.3), 0 0 3px;
    }
    65% {
      text-shadow: 2.8638780614874975px 0 1px rgba(0,30,255,0.5), -2.8638780614874975px 0 1px rgba(255,0,80,0.3), 0 0 3px;
    }
    70% {
      text-shadow: 0.48874025155497314px 0 1px rgba(0,30,255,0.5), -0.48874025155497314px 0 1px rgba(255,0,80,0.3), 0 0 3px;
    }
    75% {
      text-shadow: 1.8948491305757957px 0 1px rgba(0,30,255,0.5), -1.8948491305757957px 0 1px rgba(255,0,80,0.3), 0 0 3px;
    }
    80% {
      text-shadow: 0.0833037308038857px 0 1px rgba(0,30,255,0.5), -0.0833037308038857px 0 1px rgba(255,0,80,0.3), 0 0 3px;
    }
    85% {
      text-shadow: 0.09769827255241735px 0 1px rgba(0,30,255,0.5), -0.09769827255241735px 0 1px rgba(255,0,80,0.3), 0 0 3px;
    }
    90% {
      text-shadow: 3.443339761481782px 0 1px rgba(0,30,255,0.5), -3.443339761481782px 0 1px rgba(255,0,80,0.3), 0 0 3px;
    }
    95% {
      text-shadow: 2.1841838852799786px 0 1px rgba(0,30,255,0.5), -2.1841838852799786px 0 1px rgba(255,0,80,0.3), 0 0 3px;
    }
    100% {
      text-shadow: 2.6208764473832513px 0 1px rgba(0,30,255,0.5), -2.6208764473832513px 0 1px rgba(255,0,80,0.3), 0 0 3px;
    }
  }
  .crt::after {
    content: " ";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(18, 16, 16, 0.1);
    opacity: 0;
    z-index: 2;
    pointer-events: none;
    animation: flicker 0s infinite;
  }
  .crt::before {
    content: " ";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: linear-gradient(rgba(18, 16, 16, 0) 50%, rgba(0, 0, 0, 0.25) 50%), linear-gradient(90deg, rgba(255, 0, 0, 0.06), rgba(0, 255, 0, 0.02), rgba(0, 0, 255, 0.06));
    z-index: 2;
    background-size: 100% 2px, 3px 100%;
    pointer-events: none;
  }
  .crt {
    animation: textShadow 1.6s infinite;
}

/* <1080p fixes */
@media screen and (max-width: 1400px) {
  p {
    font-size: 0.7em;
  }
}
/* Mobile CSS */
@media screen and (max-width: 750px) {
  p {
    font-size: 0.5em;
  }
  .avatar-box {
    width: 130px;
    height: 130px;
  }
  .content-box {
    height: 130px;
    width: 235px;
  }
  .text-box {
    font-size: 12px;
    padding: 10px 10px;
  }
  .extended-box {
    height: 170px;
    width: 365px;
  }
  .links-box {
    height: 16px;
    width: 365px;
  }
  .projects-box {
    width: 30px;
    height: 30px;
  }
  #name {
    font-size: 16px;
    font-family: cyber;
  }
  .bio {
    font-size: 7px;
  }
  #credit {
    color: red;
    font-size: 7px;
    margin-top: -10px;
  }
  #expand {
    color: green;
    font-size: 7px;
  }
  #mute {
    color: cyan;
    font-size: 7px;
  }
  #links {
    font-size: 7px;
    line-height: 16px;
  }
  #projects-title {
    font-size: 9px;
  }
  .projects-box {
    width: 30px;
    height: 30px;
  }
  .projects-text {
    font-size: 6px;
    vertical-align: middle;
    line-height: 30px;
  }
  .side-box {
    margin: 15px 30px 0 30px;
  }
  .extended-text-title {
    font-size: 9px;
  }
  .extended-text {
    font-size: 8px;
  }
  .extended-text-right {
    font-size: 8px;
  }
  .extended-text-center {
    font-size: 8px;
  }
  #progress-bar[value] {
    -webkit-appearance: none;
     appearance: none;
  
    width: 125px;
    height: 3px;
    background-color: #202020;
    border: 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
  }

  .crt::after {
    background: none;
  }
  .crt::before {
    background: none;
  }
  .crt {
    animation: none;
  }
}