/* Container */
.oc-container {
    padding: 30px;
    background-color: #101010;
    display: none;
}

/* General */
.oc-link {
    color: cyan;
    text-decoration: underline;
}
.oc-section-title {
    font-size: 32px;
    text-transform: uppercase;
    font-family: cyber;
    padding-bottom: 5px;
}
.oc-section-drive {
    width: 25px;
}
.oc-section-copy {
    font-size: 20px;
    text-transform: uppercase;
    font-family: cyber;
    padding-bottom: 5px;
}

/* Ultrawide CSS */
.oc-ultra-con {
    text-align: center;
    padding: 20px;
}
.oc-ultra-box {
    background-color: #202020;
    height: 163px;
    width: 318px;
    display: inline-block;
    margin: 10px;
    box-shadow: 5px 5px 5px #000;
    cursor: pointer;
}
.oc-ultra-img {
    height: 133px;
    width: 318px;
    background-color: #303030;
    background-position: center;
    background-size: cover;
}
.oc-ultra-text {
    vertical-align: middle;
    line-height: 30px;
    font-size: 12px;
}

/* 16:9 CSS */
.oc-wide-con {
    text-align: center;
    padding: 20px;
}
.oc-wide-box {
    background-color: #202020;
    height: 175px;
    width: 318px;
    display: inline-block;
    margin: 10px;
    box-shadow: 5px 5px 5px #000;
    cursor: pointer;
    text-align: center;
}
.oc-wide-img {
    height: 135px;
    width: 240px;
    background-color: #303030;
    background-position: center;
    background-size: cover;
    margin: 0 auto;
    margin-top: 10px;
}
.oc-wide-text {
    vertical-align: middle;
    line-height: 30px;
    font-size: 11px;
}
/* Phone CSS */
.oc-fone-con {
    text-align: center;
    padding: 20px;
}
.oc-fone-box {
    background-color: #202020;
    height: 300px;
    width: 175px;
    display: inline-block;
    margin: 10px;
    box-shadow: 5px 5px 5px #000;
    cursor: pointer;
    text-align: center;
}
.oc-fone-img {
    height: 240px;
    width: 135px;
    background-color: #303030;
    background-position: center;
    background-size: cover;
    margin: 0 auto;
    margin-top: 10px;
}
.oc-fone-text {
    vertical-align: middle;
    line-height: 25px;
    font-size: 11px;
}