a {
	text-decoration: none;
	color: white;
	text-shadow: 2px 2px black;
}
body {
	margin: 0;
	font-family: "Source Sans Pro", Helvetica, sans-serif;
	background-color: #000;
	padding: 0;
	height: 100%;
	width: 100%;
  background-image: url("../img/tile.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
}
button {
	font-family: "Source Sans Pro", Helvetica, sans-serif;
}
h2 {
  font-family: 'cyber';
	font-size: 3em;
	color: white;
	text-align: center;
	margin: 0;
  text-transform: uppercase;
  padding: 30px 30px 5px 30px;
}
hr {
	margin: 1% 40% 2% 40%;
	border-top: 1px solid #fff;
}
html {
  height: 100%;
}
p {
	font-family: 'cyber';
	font-size: 1.1em;
	color: white;
	text-align: center;
	text-shadow: 2px 2px #000;
	margin: 0;
  text-transform: uppercase;
  line-height: 1.2;
}
ul {
	padding: 0;
}
@font-face {
    font-family: cyber;
    src: url("../font.ttf");
}

/* Classes */
.container {
  padding: 0 200px;
  display: block;
  height: 100%;
}
.effect {
  animation: textShadow 1.6s infinite;
}
.foot {
  padding: 20px;
}
.highlight {
  color: lime;
}
.item {
	height: 360px;
	width: 260px;
	background-color: #000;
	margin: 30px;
  background-size: cover;
  background-position: center;
	cursor: pointer;
	display: inline-block;
}
.item-text {
	vertical-align: middle;
	line-height: 360px;
}
.oi {
  opacity: 0;
  position: absolute;
  top: 2%;
  left: 35%;
}
.oi:hover {
  opacity: 1;
  color: red;
}
.space {
  padding: 50px;
}
.social:hover {
	text-decoration: none;
	color: #707070;
}

/* ID's */
#cred {
  font-size: 1em;
  margin-top: 5px;
}
#projects {
  background-color: #080808;
  text-align: center;
  padding: 20px 300px;
  display: none;
}
#projects-subtitle {
  padding-bottom: 50px;
}
#mute {
	cursor: pointer;
  font-size: 1em;
  margin-top: 30px;
}
#title {
	font-size: 3em;
}
#top-image {
	margin: 0 auto;
	display: block;
	width: 400px;
	padding-top: 70px;
	padding-bottom: 20px;
}
#wallpaper {
  width: 70%;
  margin-bottom: 20px;
}
/* Popup 1 */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}
.pop-content {
  background-color: #101010;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 40%;
}

/* Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}
.close:hover,
.close:focus {
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}

/* Animations */
.blink {
	animation: blinker 1s linear infinite;
}
.comein-left {
  overflow: hidden;
  animation: left 2s;
}
.comein-right {
  overflow: hidden;
  animation: right 2s;
}
.fade {
  animation: fade-in 3s;
}
.grow {
	transition: all .2s ease-in-out;
}
.grow:hover {
	transform: scale(1.02);
}
.line-grow {
  animation: linegrow 3s;
}
@keyframes blinker {
	50% {
		opacity: 0;
	}
}
@keyframes fade-in {
  from { opacity: 0; }
  to { opacity: 1; }
}
@keyframes left {
  from { margin-left: -200px; }
  to { margin-left: 0; }
}
@keyframes linegrow {
  from { margin: 1% 50% 2% 50%; }
  to { margin: 1% 40% 2% 40%; }
}
@keyframes right {
  from { margin-right: -200px; }
  to { margin-right: 0; }
}

/* Loader */ /* Not my code */
.no-js #loader {
	display: none;
}
.js #loader {
	display: block;
	position: absolute;
	left: 100px;
	top: 0;
}
.se-pre-con {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: url(../loader.gif) center no-repeat #fff;
	background-color: #000;
}

/* CRT SCANLINES (Add crt class to anything)*/ /* Not my code */
 
@keyframes flicker {
    0% {
      opacity: 0.27861;
    }
    5% {
      opacity: 0.34769;
    }
    10% {
      opacity: 0.23604;
    }
    15% {
      opacity: 0.90626;
    }
    20% {
      opacity: 0.18128;
    }
    25% {
      opacity: 0.83891;
    }
    30% {
      opacity: 0.65583;
    }
    35% {
      opacity: 0.67807;
    }
    40% {
      opacity: 0.26559;
    }
    45% {
      opacity: 0.84693;
    }
    50% {
      opacity: 0.96019;
    }
    55% {
      opacity: 0.08594;
    }
    60% {
      opacity: 0.20313;
    }
    65% {
      opacity: 0.71988;
    }
    70% {
      opacity: 0.53455;
    }
    75% {
      opacity: 0.37288;
    }
    80% {
      opacity: 0.71428;
    }
    85% {
      opacity: 0.70419;
    }
    90% {
      opacity: 0.7003;
    }
    95% {
      opacity: 0.36108;
    }
    100% {
      opacity: 0.24387;
    }
  }
  @keyframes textShadow {
    0% {
      text-shadow: 0.4389924193300864px 0 1px rgba(0,30,255,0.5), -0.4389924193300864px 0 1px rgba(255,0,80,0.3), 0 0 3px;
    }
    5% {
      text-shadow: 2.7928974010788217px 0 1px rgba(0,30,255,0.5), -2.7928974010788217px 0 1px rgba(255,0,80,0.3), 0 0 3px;
    }
    10% {
      text-shadow: 0.02956275843481219px 0 1px rgba(0,30,255,0.5), -0.02956275843481219px 0 1px rgba(255,0,80,0.3), 0 0 3px;
    }
    15% {
      text-shadow: 0.40218538552878136px 0 1px rgba(0,30,255,0.5), -0.40218538552878136px 0 1px rgba(255,0,80,0.3), 0 0 3px;
    }
    20% {
      text-shadow: 3.4794037899852017px 0 1px rgba(0,30,255,0.5), -3.4794037899852017px 0 1px rgba(255,0,80,0.3), 0 0 3px;
    }
    25% {
      text-shadow: 1.6125630401149584px 0 1px rgba(0,30,255,0.5), -1.6125630401149584px 0 1px rgba(255,0,80,0.3), 0 0 3px;
    }
    30% {
      text-shadow: 0.7015590085143956px 0 1px rgba(0,30,255,0.5), -0.7015590085143956px 0 1px rgba(255,0,80,0.3), 0 0 3px;
    }
    35% {
      text-shadow: 3.896914047650351px 0 1px rgba(0,30,255,0.5), -3.896914047650351px 0 1px rgba(255,0,80,0.3), 0 0 3px;
    }
    40% {
      text-shadow: 3.870905614848819px 0 1px rgba(0,30,255,0.5), -3.870905614848819px 0 1px rgba(255,0,80,0.3), 0 0 3px;
    }
    45% {
      text-shadow: 2.231056963361899px 0 1px rgba(0,30,255,0.5), -2.231056963361899px 0 1px rgba(255,0,80,0.3), 0 0 3px;
    }
    50% {
      text-shadow: 0.08084290417898504px 0 1px rgba(0,30,255,0.5), -0.08084290417898504px 0 1px rgba(255,0,80,0.3), 0 0 3px;
    }
    55% {
      text-shadow: 2.3758461067427543px 0 1px rgba(0,30,255,0.5), -2.3758461067427543px 0 1px rgba(255,0,80,0.3), 0 0 3px;
    }
    60% {
      text-shadow: 2.202193051050636px 0 1px rgba(0,30,255,0.5), -2.202193051050636px 0 1px rgba(255,0,80,0.3), 0 0 3px;
    }
    65% {
      text-shadow: 2.8638780614874975px 0 1px rgba(0,30,255,0.5), -2.8638780614874975px 0 1px rgba(255,0,80,0.3), 0 0 3px;
    }
    70% {
      text-shadow: 0.48874025155497314px 0 1px rgba(0,30,255,0.5), -0.48874025155497314px 0 1px rgba(255,0,80,0.3), 0 0 3px;
    }
    75% {
      text-shadow: 1.8948491305757957px 0 1px rgba(0,30,255,0.5), -1.8948491305757957px 0 1px rgba(255,0,80,0.3), 0 0 3px;
    }
    80% {
      text-shadow: 0.0833037308038857px 0 1px rgba(0,30,255,0.5), -0.0833037308038857px 0 1px rgba(255,0,80,0.3), 0 0 3px;
    }
    85% {
      text-shadow: 0.09769827255241735px 0 1px rgba(0,30,255,0.5), -0.09769827255241735px 0 1px rgba(255,0,80,0.3), 0 0 3px;
    }
    90% {
      text-shadow: 3.443339761481782px 0 1px rgba(0,30,255,0.5), -3.443339761481782px 0 1px rgba(255,0,80,0.3), 0 0 3px;
    }
    95% {
      text-shadow: 2.1841838852799786px 0 1px rgba(0,30,255,0.5), -2.1841838852799786px 0 1px rgba(255,0,80,0.3), 0 0 3px;
    }
    100% {
      text-shadow: 2.6208764473832513px 0 1px rgba(0,30,255,0.5), -2.6208764473832513px 0 1px rgba(255,0,80,0.3), 0 0 3px;
    }
  }
  .crt::after {
    content: " ";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(18, 16, 16, 0.1);
    opacity: 0;
    z-index: 2;
    pointer-events: none;
    animation: flicker 0s infinite;
  }
  .crt::before {
    content: " ";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: linear-gradient(rgba(18, 16, 16, 0) 50%, rgba(0, 0, 0, 0.25) 50%), linear-gradient(90deg, rgba(255, 0, 0, 0.06), rgba(0, 255, 0, 0.02), rgba(0, 0, 255, 0.06));
    z-index: 2;
    background-size: 100% 2px, 3px 100%;
    pointer-events: none;
  }
  .crt {
    animation: textShadow 1.6s infinite;
}

/* Typewriter effect */ /* Not my code */
.typewriter {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid transparent; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  animation: 
    typing 3.5s steps(40, end),
    blink-caret .2s step-end infinite;
}
/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}
/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: transparent; }
}


/* High/Low Res Screen Support */
@media screen and (max-width: 3840px) {
	.container {
		padding: 0 500px;
	}
	#top-image {
		width: 50%;
  }
	p {
		font-size: 1.4em;
	}
	#c {
		font-size: 1em;
	}
	#mute {
		font-size: 1em;
	}
	#title {
		font-size: 3em
	}
}
@media screen and (max-width: 2560px) {
	.container {
		padding: 0 300px;
  }
	#top-image {
		width: 468px;
	}
	p {
		font-size: 1.2em;
	}
	#c {
		font-size: 1em;
	}
	#mute {
		font-size: 1em;
	}
	#title {
		font-size: 3em
	}
}
@media screen and (max-width: 1920px) {
	.container {
    padding: 0 200px;
  }
	#top-image {
		width: 400px;
	}
	p {
		font-size: 1.15em;
	}
	#c {
		font-size: 1em;
	}
	#mute {
		font-size: 1em;
	}
	#title {
		font-size: 3em
	}
}
@media screen and (max-width: 1600px) {
	.container {
    padding: 0 100px;
  }
	#top-image {
		width: 22%;
	}
	p {
		font-size: 1em;
	}
	#c {
		font-size: 1em;
		margin-top: 40px;
	}
	#mute {
		font-size: 0.7em;
	}
	#title {
		font-size: 3em
  }
  #send {
    display: none;
  }
}
@media screen and (max-width: 1366px) {
	.container {
    padding: 0 100px;
  }
	#top-image {
		width: 22%;
	}
	p {
		font-size: 0.6em;
	}
	#c {
		font-size: 0.7em;
	}
	#mute {
		font-size: 0.7em;
  }
  #projects {
    background-color: #080808;
    text-align: center;
    padding: 0 300px;
    display: none;
  }
}
@media screen and (max-width: 640px) {
  .container {
		padding: 0;
  }
	#top-image {
    width: 65%;
    margin-top: 10px;
	}
	p {
		font-size: 0.5em;
	}
	#c {
		font-size: 0.6em;
	}
	#mute {
		font-size: 0.6em;
	}
	#title {
		font-size: 1.8em;
  }
  #projects {
  background-color: #080808;
  text-align: center;
  padding: 0;
  display: none;
  }
}